
body{
	width:100%;
	height:100%;
	padding: 0; 
	margin: 0;
}

html{
	width:100%;
	height:100%;
}

#header {
	height: 100%;
    overflow: hidden;
    position: relative;
}

.section-intro {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #ffffff;
}

.section-content {
	padding-top: 20px;
	padding-bottom: 60px;
	background-color: #ffffff;
}

.intro-logo{
	width: 100%;
	height: 100%;
	margin-bottom: -5px;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    text-align: center;
    overflow: hidden;
}
.intro-navigate{
	width: 100%;
	position: absolute;
	bottom: 0px;
	padding-top: 10px;
    padding-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid #eef1f8;
	background: rgba(255,255,255,.9);
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
/*.intro-logo:before{
    content: "";
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #a83279;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(-45deg,#a83279,#d38312);
    background-image: linear-gradient(-45deg,#a83279,#d38312);
    opacity: .7;
    filter: alpha(opacity=70);
}*/
.intro-navigate>p{
	text-align: center;
	margin: 0px;
}
.intro-navigate.fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    bottom: inherit;
    z-index: 99;
    background: rgba(255,255,255,.95);
    transition: background 2s;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

menu,
menu label {
    position: absolute;
    top: 0;
    right: 0;
}
menu {
    margin: 0;
}
menu input[type=checkbox] {
    display: none;
}
menu input[type=checkbox]:checked + .drawer-list {
    transform: translatex(0);
    border-bottom-left-radius: 0;
}
menu input[type=checkbox]:checked + .drawer-list li {
    transform: translatex(0);
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(1) {
    transition: transform 0.5s 0.02s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(2) {
    transition: transform 0.5s 0.04s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(3) {
    transition: transform 0.5s 0.06s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(4) {
    transition: transform 0.5s 0.08s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(5) {
    transition: transform 0.5s 0.1s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(6) {
    transition: transform 0.5s 0.12s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(7) {
    transition: transform 0.5s 0.14s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(8) {
    transition: transform 0.5s 0.16s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(9) {
    transition: transform 0.5s 0.18s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(10) {
    transition: transform 0.5s 0.2s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(11) {
    transition: transform 0.5s 0.22s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(12) {
    transition: transform 0.5s 0.24s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(13) {
    transition: transform 0.5s 0.26s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(14) {
    transition: transform 0.5s 0.28s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(15) {
    transition: transform 0.5s 0.3s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(16) {
    transition: transform 0.5s 0.32s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(17) {
    transition: transform 0.5s 0.34s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(18) {
    transition: transform 0.5s 0.36s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(19) {
    transition: transform 0.5s 0.38s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(20) {
    transition: transform 0.5s 0.4s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(21) {
    transition: transform 0.5s 0.42s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(22) {
    transition: transform 0.5s 0.44s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(23) {
    transition: transform 0.5s 0.46s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(24) {
    transition: transform 0.5s 0.48s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(25) {
    transition: transform 0.5s 0.5s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(26) {
    transition: transform 0.5s 0.52s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(27) {
    transition: transform 0.5s 0.54s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(28) {
    transition: transform 0.5s 0.56s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(29) {
    transition: transform 0.5s 0.58s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(30) {
    transition: transform 0.5s 0.6s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(31) {
    transition: transform 0.5s 0.62s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(32) {
    transition: transform 0.5s 0.64s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(33) {
    transition: transform 0.5s 0.66s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(34) {
    transition: transform 0.5s 0.68s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(35) {
    transition: transform 0.5s 0.7s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(36) {
    transition: transform 0.5s 0.72s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(37) {
    transition: transform 0.5s 0.74s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(38) {
    transition: transform 0.5s 0.76s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(39) {
    transition: transform 0.5s 0.78s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(40) {
    transition: transform 0.5s 0.8s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(41) {
    transition: transform 0.5s 0.82s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(42) {
    transition: transform 0.5s 0.84s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(43) {
    transition: transform 0.5s 0.86s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(44) {
    transition: transform 0.5s 0.88s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(45) {
    transition: transform 0.5s 0.9s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(46) {
    transition: transform 0.5s 0.92s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(47) {
    transition: transform 0.5s 0.94s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(48) {
    transition: transform 0.5s 0.96s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(49) {
    transition: transform 0.5s 0.98s ease;
}
menu input[type=checkbox]:checked + .drawer-list li:nth-child(50) {
    transition: transform 0.5s 1s ease;
}
menu input[type=checkbox]:checked + .drawer-list li a {
    padding-right: 15px;
}
menu input[type=checkbox]:checked ~ hamburger > i {
    background-color: transparent;
    transform: rotate(90deg);
}
menu input[type=checkbox]:checked ~ hamburger > i:before {
    transform: translate(-50%, -50%) rotate(315deg);
}
menu input[type=checkbox]:checked ~ hamburger > i:after {
    transform: translate(-50%, -50%) rotate(-315deg);
}
menu input[type=checkbox]:checked ~ hamburger close {
    color: #FEFEFE;
    width: 100%;
}
menu input[type=checkbox]:checked ~ hamburger open {
    color: transparent;
    width: 0;
}
menu .drawer-list {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    transform: translate(100vw, 0);
    /* ie workaround */
    
    -ms-transform: translatex(-100vw);
    box-sizing: border-box;
    pointer-events: none;
    padding-top: 125px;
    transition: width 475ms ease-out, transform 450ms ease, border-radius .8s .1s ease;
    border-bottom-left-radius: 100vw;
    background-color: #3d81c0;
    background-color: rgba(12, 187, 189, 0.8);
}
@media (min-width: 768px) {
    menu .drawer-list {
        width: 20vw;
    }
}
menu .drawer-list ul {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    overflow-x: hidden;
    /*pointer-events: auto;*/
}
menu .drawer-list li {
    list-style: none;
    text-transform: uppercase;
    pointer-events: auto;
    white-space: nowrap;
    box-sizing: border-box;
    transform: translatex(100vw);
    /* ie workaround */
    
    -ms-transform: translatex(-100vw);
}
menu .drawer-list li:last-child {
    margin-bottom: 2em;
}
menu .drawer-list li a {
    text-decoration: none;
    color: #FEFEFE;
    text-align: center;
    display: block;
    padding: .5rem;
    font-size: 1.2em;
}
@media (min-width: 768px) {
    menu .drawer-list li a {
        font-size: 16px;
        /*text-align: right;*/
    }
}
menu .drawer-list li a:hover {
    cursor: pointer;
    /*background-color: #88c2f8;*/
    background-color: rgba(0, 255, 223, .5);
}
menu hamburger {
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
}
menu hamburger:hover {
    cursor: pointer;
}
menu hamburger text close,
menu hamburger text open {
    text-transform: uppercase;
    font-size: .8em;
    align-text: center;
    position: absolute;
    transform: translateY(50px);
    text-align: center;
    overflow: hidden;
    transition: width .25s .35s, color .45s .35s;
}
menu hamburger text close {
    color: transparent;
    right: 0;
    width: 0;
}
menu hamburger text open {
    color: #FEFEFE;
    width: 100%;
}
menu hamburger > i {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    background-color: #FEFEFE;
    pointer-events: auto;
    transition-duration: .35s;
    transition-delay: .35s;
}
menu hamburger > i:before,
menu hamburger > i:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 50%;
    background: #FEFEFE;
    content: "";
    transition: transform 0.35s;
    transform-origin: 50% 50%;
}
menu hamburger > i:before {
    transform: translate(-50%, -14px);
}
menu hamburger > i:after {
    transform: translate(-50%, 14px);
}

.text {
    color: #252545;
    font-weight: 500;
    text-shadow: 0px 5px rgba(20, 30, 40, 0.2);
    letter-spacing: 0.15em;
    transition: all 0.6s ease-out;
}
.container-logo {
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(15px);
    border-radius: 25px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    /* box-shadow: 0 10px 20px -5px rgba(0, 5, 10, 0.5); */
}
.container-logo .content {
    z-index: 10;
}
.container-logo .animation-container {
    z-index: 0;
}
.container-logo .animated-bg {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
}
.container-logo .top {
    background-color: rgba(167, 245, 231, 0.8);
    top: calc(-200px);
    left: calc(50% - 100px);
}
.container-logo .left {
    background-color: rgba(222, 251, 223, .8);
    left: -200px;
    z-index: 1;
}
.container-logo .right {
    background-color: rgba(164, 250, 238, 0.7);
    z-index: 2;
    left: 100%;
}
.container-logo .bottom {
    z-index: 3;
    background-color: rgba(177, 245, 244, 0.8);
    top: 100%;
}
.container-logo:hover .text a{
    color: #fff;
    text-shadow: 2px 2px rgba(3, 10, 30, 0.4);
}
.container-logo .text a:hover{
    color: #2a6496;
    text-shadow: none;
}
.container-logo:hover .animated-bg {
    transform: scale(10);
}
.container-logo:hover .top {
    transition: all 0.3s ease-in-out;
}
.container-logo:hover .left {
    transition: all 0.3s 0.2s ease-in-out;
}
.container-logo:hover .right {
    transition: all 0.35s 0.4s ease-in-out;
}
.container-logo:hover .bottom {
    transition: all 0.4s 0.65s ease-in-out;
}
.me {
    text-align: center;
    color: #425458;
    margin: 30px 0 10px;
}
.me a {
    display: block;
    margin: 4px;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    color: #00ba84;
    font-weight: 500;
    letter-spacing: 0.2em;
    transition: all 0.2s cubic-bezier(0.56, 0.03, 0.51, 2.28);
}
.me a:hover {
    color: #65cc9b;
    transform: scale(1.1);
}

.navigater-list{
	font-family: "Microsoft YaHei","微软雅黑",Arial,simsun,"宋体";
	color:#444444;
	font-weight: 100;
	font-size: 1.2em;
}
.navigater-list>a {
	padding: 25px 20px 25px 20px;
	line-height: 60px;
}
.home-bg{
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	bottom: 100px;
	background: url(../images/sample.jpg) no-repeat bottom center scroll;
	background-color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.blur{	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(5px); /* Chrome, Opera */
       -moz-filter: blur(5px);
        -ms-filter: blur(5px);    
            filter: blur(5px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5, MakeShadow=false); /* IE6~IE9 */
}

.homelogo{
	max-width: 420px;
	height: auto;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	filter:alpha(opacity=90);  -moz-opacity:0.9;  -khtml-opacity: 0.9;  opacity: 0.9;
}
.homelogoback {
	overflow: hidden;
	padding: 20px;
	margin-left: auto;
    margin-right: auto;
	filter:alpha(opacity=90);  -moz-opacity:0.9;  -khtml-opacity: 0.9;  opacity: 0.9;
}
.homelogoback>h1>a {
	color: #000;
	letter-spacing: 9px;
	text-transform: uppercase;
}
    
.thumb{
	display: block;
    height: auto;
    max-width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumb:hover{
	opacity: 0.95;
}
.image{
	height: 200px; 
	width: auto; 
	overflow: hidden;
}
.image>img{
	height: 100%; 
	width: 100%; 
	display: block;
}

#footer {
	width: 100%;
	background: #292b31;
	text-align: center;
	color: #BBB;
	padding: 30px 0 15px;
	line-height: 22px;
}

h1 {
    font-family: "futura-pt",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3",Microsoft JhengHei,WenQuanYi Micro Hei,"Microsoft YaHei",sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 12px 0;
    left: 4px;
}
h3 {
	font-family: "futura-pt", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", Microsoft JhengHei, WenQuanYi Micro Hei, "Microsoft YaHei", sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 30px;
    left: 3px;
}
#beautifont{
	font-family: Microsoft JhengHei,Roboto,Helvetica,Arial,sans-serif;
}
canvas {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
a {
    color: #000;
    text-decoration: none;
    transition: color,background-color .2s ease;
}

footer>.container>.row>p>a {
	color: #ddd;
}
footer>.container>.row>p>a:hover  {
	color: #f33;
}

@media (max-width: 680px) {
	.pagination-lg > li > a, .pagination-lg > li > span {
		padding: 10px 12px;
		font-size: 16px;
	}
	.navigater-list>a {
		padding: 5px;
		line-height: 40px;
	}
	.homelogoback>h1>a {
		font-size: 20px;
		font-weight: bold;
		letter-spacing: 5px;
	}
	.homelogoback>h3 {
		font-size: 16px;
	}
	h1{
		font-size: 1.5em;
	}
	h2{
		font-size: 1.3em;
	}
	h3{
		font-size: 1.2em;
	}
	h4{
		font-size: 1.1em;
	}

}

@media (max-width: 400px) {
	.homelogoback>h1>a {
		font-size: 22px;
		font-weight: bold;
		letter-spacing: 4px;
	}
}
